p {
  font-family: arial, verdana, helvetica, serif;
  }
p{color:rgb(237,1,1);}
#wrap{
    border:1px solid black;
    width: 800px;
    height:1040px;
    margin: 0 auto;
  }
  #header{
    width: 700px;
    height:232px;
    margin: 0 auto;
    margin-top: 42px;
  }
  .header-title{ 
    width: 500px;float:left;
    height:182px;
  }
  .header-text{
    width: 500px;float:left;
    height:48px;
   
  }
  .header-menu{
    width: 195px;float:right;
    height:232px;
    position:fixed;
    margin-left: 15%;
    right:22%;
  }
  #body{
    width: 700px;
    height:683px;
    margin: 0 auto;
  
}
  
  #footer{
    width: 700px;
    height:36px;
    margin: 0 auto;
    font-size: 12px;
  }
  .footer-type{
    width:300px;float:left;
    height:36px;
  }
  .footer-audio{
    width:400px;float:right;
    height:36px;
  }
  a {
    text-decoration: none;
    color: rgb(237,1,1);
    font-weight: 800;
    font-size: 12px;
    font-family: arial, verdana, helvetica, serif;
  }
  
  a:hover {
    text-decoration: none;
    color: rgb(0,0,0);